<h2 class="image_content">ABOUT US</h2>

<p class="image_content image_width">
  We are devotee of maa Bagalamukhi(Pitambara maa).
  Maa Bagalamukhi is 8th goddess from 10 Mahavidyas(10 goddess of pleasure).
  And we wants our society get blessed with maa Bagalamukhi.
  Maa Bagalamukhi always bless her children in there trouble,whom have a strong faith in her.
  There are many way to make goddess happy through a honest prayer or just thinking about this kindness goddess.

</p>


<h2 class="image_content">ABOUT OUR PUJA</h2>

<p class="image_content image_width">
  We are doing various social activity to awareness about maa Bagalamukhi.
  How to pray and way of worship maa Bagalamukhi.
  There are many way to make her happy like chanting of her mantra in group,helping of needy person.

  We are doing a special puja on every year end 27th Dec to 1st Jan.
  Purpose of this puja is get bless from goddess and help needy person.
  We follow daily routine or worship.
  During this puja we have lot of activity followed by prashadam and daily feast.
</p>
  </br></br>
  <table class="image_width image_content">
    <tr>

    </tr>
      <td> Below our invitation letter and daily routine</td>
      <td> More details about our puja</td>
    </tr>
    <tr>
       <td> <%=image_tag("invite.jpg", :alt=> "invite",:class=>"two_image_width")%>    </td>
       <td> <%=image_tag("paper.jpg", :alt=> "paper",:class=>"two_image_width")%> </td>
   </table>

</p>

